*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section7{
    margin-top: 40px;
    margin-bottom: 30px;
    background-image: url('../../Assest/client_bg_map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: auto;
}
.sec7_img{
    width: 88%;
    margin: 0 auto;
    text-align: center;
}
.sec7_img_col{
    padding: 15px;
}
.sec7_img img{
  height: 111px;
  width:111px;
}